---
import type { Lang } from '../i18n/config.i18n';
import { getLangFromUrl } from '../i18n/utils.i18n';
import content from '../data/site-content.json'

const lang = getLangFromUrl(Astro.url)

const { hero } = content[lang]
---

<section class="relative bg-slate-900 py-24 px-6 text-center">
  <div class="max-w-4xl mx-auto">
    <h1
      class="text-5xl md:text-7xl font-extrabold text-white mb-6 leading-tight"
    >
      <span
        class="text-transparent bg-clip-text bg-gradient-to-r from-blue-400 to-emerald-400"
      >
        {hero.title}
      </span>
    </h1>
    <p class="text-xl text-slate-300 mb-10 max-w-2xl mx-auto">
      {hero.subTitle}
    </p>
  </div>
</section>